html, body{
    height: 100%;
    width: 100%;
    font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
}


/* INTRO SECTION */
section{
    padding-left: 10%;
    padding-right: 10%;
    min-height: 100%;
    overflow: hidden;
}

.home .intro{
    margin: 0px;
    display: flex;
    justify-content: center;
    font-size: 70px;
    padding-top: 15%;
    font-weight: bold;
}


.slider{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 105px;
}

.sliding_text{
    margin-bottom: 50px;
    color: rgb(91, 155, 213)
}

.first{
    animation: slide 5s linear infinite;
}

.arrow{
    position: relative;
    bottom: -7em;
    left: 50%;
    animation: bounce 0.6s infinite linear;
}

@keyframes bounce{
    0%{bottom: -7em;}
    25%{bottom: -7.1em;}
    50%{bottom: -7.2em;}
    75%{bottom: -7.3em;}
    100%{bottom: -7em;}


}

@keyframes slide{
    0% {margin-top: 0px;}
    25% {margin-top: 0px;}
    33% {margin-top: -152px;}
    58% {margin-top: -152px;}
    66% {margin-top: -310px;}
    91% {margin-top: -310px;}
    100%{margin-top: 0px;}
}

/* ABOUT ME */

.about_me{
    margin-bottom: 15%;
}
.heading{
    font-size: 30px;
    font-weight: bold;
    display: inline-block;
}


.heading::after{
    content: "";
    position: relative;
    display: inline-block;
    height: 1px;
    width: 300px;
    background-color: black;
    top: -8px;
    margin-left: 20px;
}

.desc,.photo{
    margin-top: 25px;
}
.desc{
    font-size: 15px;
}

.about_me .left{
    float: left;
    width: 50%;
}
.about_me .right{
    float: right;
    display: flex;
    width: 50%;
    padding-left: 5%;
}
.about_me .photo img:hover{
    filter: grayscale(0);
    width: 345px;
}
.about_me .photo img{
    width: 338px;
    z-index: 2;
    filter: grayscale(100);
    transition: grayscale 0.5s;
    transition: width 0.5s;
}

.about_me .outline {
    position: relative;
    bottom: -20px;
    right: 320px;
    height:330px;
    min-width: 338px;
    z-index: 1;
    border: 3px solid black;
}
.about_me ul{
    float: right;
    list-style-type: none;
    padding: 0;
}
.about_me ul li{
    display: inline-block;
    background-color: black;
    border: solid 2px black;

    color: white;


    text-align: center;
    padding: 4px;
    margin-bottom: 4px;
    width: 120px;
    
}


/* EXPERIENCE SECTION */
.experience{
    padding-left: 20%;
    height: 1500px;
}
.experience .experience-display{
    margin-top: 25px;
    margin-bottom: 75px;
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    height: 300px;
}


.experience .work-description{
    text-align: right;
    color: white;
    padding: 25px;
    border-radius: 4px;
    background-color: black;
    box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -15px;
}

.experience .work-place{
    text-align: right;
    color: rgb(91, 155, 213);
    margin: 0;
}
.experience .work-title{
    text-align: right;
    font-weight: bold;
}

.experience .work-content{
    width: 100%;
    grid-column: 6 / -1;
    grid-row: 1 / -1;
}

.experience .work-date{
    text-align: right;
    margin-top: 10px;
}

.experience .work-image{
    grid-column: 1 / 8;
    grid-row: 1 / -1;
}

.experience .work-image img{
    width: 500px;
    
}

.experience .experience-middle .work-place{
    text-align: left;
    color: rgb(91, 155, 213);
    margin: 0;
}
.experience .experience-middle .work-title{
    text-align: left;
    font-weight: bold;
}
.experience .experience-middle .work-date{
    text-align: left;
}
.experience .experience-middle .work-description{
    text-align: left;
}

.experience .experience-middle .work-content{
    grid-column: 1 / 8;
}

.experience .experience-middle .work-image{
    grid-column: 7 / -1;
}

.awards a{
    color: rgb(91, 155, 213);
}

.awards a:hover{
    text-decoration: none;
}

.awards a:visited{
    color: rgb(91, 155, 213);
}
.job_box {
    margin-top: 5%;
    overflow: auto;
}


.job_box .positions{
    list-style: none;
    font-size: 15px;
    padding-left: 0%;
    display: inline-block;
}

.job_box .positions li{
    border-left: 2px solid grey;
    margin-bottom: 0;
}
.job_box .positions li{
  vertical-align: middle;
  display: list-item;
  
}



.job_box .positions li button{
    display: inline-block;
    width: 100%;
    border: none;
    background: none;
    padding: 12px;
    text-align: left;
    transition: color 0.5s;
    transition: background-color 0.5s;
    
}

.job_box .positions li button:hover{
    color: rgb(91, 155, 213);
    background-color: rgb(241, 241, 241);
}

.job_box .positions li button:focus{
    outline: none;
}

.visible{
    visibility: visible;
}

.job_desc {
    position: absolute;
    height: auto;
    display: inline-flex;
    float: right;
    flex-direction: column;
    margin-right: 12%;
    padding-right: 10%;
    padding-left: 2%;
    width: 60%;
    visibility: hidden;
}

.job_desc ul{
    padding-left: 20px;
    
}

.job_desc li{
    margin-bottom: 10px;
}

.title{

    font-size: 20px;
}

.time {
    font-size: 15px;
    margin-bottom: 5%;
}

.active{
    border-left: 2px solid rgb(91, 155, 213) !important;
}

.active button{
    color:  rgb(91, 155, 213);
}
/* SIDE BARS */
.side_social_list {
    list-style-type: none;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    margin-left: 2em;
    position: fixed;
    bottom: 0px;
}

li{
    margin-bottom: 1.5em;
}

a{
    position: relative;
    top: 0px;
    color: black;
}
ul a:visited{
    color: black;
}
.v1 {
    border-left: 2px solid black;
    height: 6em;
    width: 2px;
    margin-left: 0.4em;
}

.right_bar{
    position: fixed;
    flex-direction: column;
    bottom: 0px;
    right: 0px;
    margin-right: 1.5em;
}

.email_desc{
    writing-mode: vertical-rl;
    top: 0px;
    margin-bottom: 1.5em;
    position: relative;
    color:black;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    transition-delay: 0s;
}



.email:visited{
    color: black;
}
.email_desc:hover{
    top: -2px;
    color: rgb(91, 155, 213);
}
.icons{
    color: black;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    transition-delay: 0s;
}
.icons:hover{
    top: -2px;
    color: rgb(91, 155, 213);
}